.Chip-wrapper {
  border-radius: 2rem;
  border: 1px solid var(--Font-Input-text-default, rgba(0, 0, 0, 0.10));
  background: var(--Background-Button-Defualt, #FFF);
  display: inline-flex;
  padding: 0rem var(--Spacing-16, 1rem);
  justify-content: center;
  align-items: center;
}


.Chip-background-outline{
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.45);
  color: #000000;
  display: inline-flex;
  padding: 0rem var(--Spacing-16, 1rem);
  justify-content: center;
  align-items: center;

}