.Collapse {
  z-index: 500;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  height: fit-content;
}

.Header-nav-right-line {
  width: 16px;
  height: 0px;
  transform: rotate(90deg);
  border: 1px solid var(--Background-bg-divider, #e5e6e8);
}

.Header-Collapse-burger-blank {
  width: 34px;
  height: 34px;
}
