.Chip-button-wrapper {
  border-radius: 9999px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 266.667% */
}

.Chip-button-background-primary {
  border: 1px solid var(--primary-color-400);
  color: var(--primary-color-400);
  &:hover {
    color: rgba(255, 255, 255, 0.85);
    border: 1px solid #0000005b;
    background-image: linear-gradient(99.88deg, #7e3fb8 0%, #b24a8b 100%),
      linear-gradient(111.27deg, #7e3fb8 0%, #b24a8b 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  &:active {
    color: rgba(255, 255, 255, 0.85);
    transform: translateY(2px);
  }
}

.Chip-button-background-gray {
  border: 1px solid rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.45);
  &:active {
    color: rgba(0, 0, 0, 0.45);
    transform: translateY(2px);
  }
}
