:root{
    --primary-color-100:#E1D8F4;
    --primary-color-200:#C3B1E9;
    --primary-color-300:#A589DF;
    --primary-color-400:#8762D4;
    --primary-color-500:#693BC9;
    --primary-color-600:#542FA1;
    --primary-color-700:#3F2379;
    --primary-color-800:#2A1850;
    --primary-color-900:#150C28;

    --sub-color-100:#F9DDE0;
    --sub-color-200:#F3BAC1;
    --sub-color-300:#ED98A2;
    --sub-color-400:#E77583;
    --sub-color-500:#E15364;
    --sub-color-600:#B44250;
    --sub-color-700:#87323C;
    --sub-color-800:#5A2128;
    --sub-color-900:#2D1114;

    --like-color:#FF7A7A;
    --book-mark:#F6CE9E;
}