.review-wrapper {
  max-width: 808px;
  margin: auto;
  margin-top: 72px;
  color: rgba(0, 0, 0, 0.85);
}

.page-title {
  margin: 0 0 24px 0;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
}

.drink-description {
  margin: 0 0 40px 0;
  font-size: 28px;
  font-weight: 800;
  line-height: 40px;
}
