.menuCenterTabs{
    button{
        :hover {
                cursor: default;
            }
    }
    :hover{
        cursor:default;
    }
}

.review-grid-col {
    :hover {
        cursor: pointer;
    }
}