.detail-description-border-bottom{
    margin-bottom:5.25rem;
    border-bottom: 1px solid var(--Background-bg-divider, #E5E6E8);
}

.detail-description-packages-title{
    width:15%;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;

    @media (max-width:$mantine-breakpoint-sm) {
        min-width:6rem;
        color: var(--font-card-list-lable, rgba(0, 0, 0, 0.45));
        /* List, Card/Body-Regular */
        font-family: Pretendard;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        width:fit-content;
        /* 200% */
        
    }
}

.detail-description-title {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    @media (max-width:$mantine-breakpoint-sm) {
        color: var(--font-card-list-lable, rgba(0, 0, 0, 0.45));
        /* List, Card/Body-Regular */
        font-family: Pretendard;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        width:40%;
        min-width: 5.8125rem;
        /* 200% */
        
    }
}

.detail-description-packages{
    display: flex;
    height:100%;
    align-items: center;

}

.detail-description-packages-type{
    width:5rem;
    height:2rem;
}

.detail-description-packages-image{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}