.smell-taste-box{
    display: flex;
    max-width: 37.5rem;
    width: 100%;
    padding: var(--Spacing-32, 2rem) var(--Spacing-40, 2.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: -20.5rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: var(--Corner-radius-16, 1rem);
    border: 1px solid var(--Background-Stroke, rgba(0, 0, 0, 0.10));
    background: var(--Background-surface, #FFF);

    /* List */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.03);

    @media (max-width:$mantine-breakpoint-sm) {
            padding:1rem;
        }

}

.chip-box{
    width: 100%;
}

.chip {
    height:5.5rem;
    margin-top: 1.5rem;
    display: flex;
    padding: var(--Spacing-24, 1.5rem) var(--Spacing-40, 2.5rem);
    justify-content: flex-start;
    align-items: center;
    gap: var(--Spacing-24, 1.5rem);
    align-self: stretch;
    border-radius: var(--Corner-radius-circle, 62.4375rem);
    border: 1px solid var(--Background-Stroke, rgba(0, 0, 0, 0.10));
    background: var(--Background-surface-2, #FAFAFA);
}

.chip2{
    height:5rem;
    display: flex;
    padding: var(--Spacing-24, 1.5rem) var(--Spacing-40, 2.5rem) var(--Spacing-24, 1.5rem) 2.75rem;
    justify-content: flex-start;
    align-items: center;
    gap: var(--Spacing-24, 1.5rem);
    align-self: stretch;
    border-radius: var(--Corner-radius-circle, 62.4375rem);
    border: 1px solid var(--Background-Stroke, rgba(0, 0, 0, 0.10));
    background: var(--Background-surface-2, #FAFAFA);
}

.chip3{
    height:4.5rem;
    display: flex;
    justify-content: flex-start;
    padding: var(--Spacing-24, 1.5rem) var(--Spacing-40, 2.5rem) var(--Spacing-24, 1.5rem) 3rem;
    align-items: center;
    gap: var(--Spacing-24, 1.5rem);
    align-self: stretch;
    border-radius: var(--Corner-radius-circle, 62.4375rem);
    border: 1px solid var(--Background-Stroke, rgba(0, 0, 0, 0.10));
    background: var(--Background-surface-2, #FAFAFA);
}

.mobile-chiling-note-wrapper{
    @media (max-width:$mantine-breakpoint-sm) {
        display: flex;
        flex-direction: column;
        gap:1rem;
    }

}