@keyframes star-rating {
    0% {
        opacity: 0;
        /* 초기에는 별이 보이지 않음 */
    }

    25% {
        opacity: 0.25;
        /* 25% 지점에서 별의 1/4이 보임 */
    }

    50% {
        opacity: 0.5;
        /* 50% 지점에서 별의 절반만 보임 */
    }

    75% {
        opacity: 0.75;
        /* 75% 지점에서 별의 3/4이 보임 */
    }

    100% {
        opacity: 1;
        /* 끝까지 별이 모두 보임 */
    }
}

.mantine-Rating-starSymbol{
    animation: star-rating 1s ease;
}