.help-message {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.45);
  border: none;
  background: transparent;
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
}
