.header-nav-wrapper{
  width:100%;
  height:60px;
  display:flex;
  justify-content:center;
  
}

.position {
  max-width: 1224px;
  position:relative;

  top: 0px;
}

.header-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
}

.header-center {
  border-bottom: 1px solid #e5e6e8;
}

.header-nav-div-link {
  display: flex;
  margin: 0px 12px 0px 12px;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  width: 128px;
  font-size: 14px;
}

.header-nav-bugger-div {
  display: flex;
  margin: 0px 12px 0px 0px;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.header-nav-div-link-right {
  display: flex;
  margin: 0px 12px 0px 0px;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  width: 128px;
  font-size: 14px;
}

.header-nav-right-border-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-right-border {
  width: 0px;
  height: 16px;
  margin: 0px 8px 0px 8px;
  flex-shrink: 0;
  border: 1px solid var(--Background-bg-divider, #e5e6e8);
}

.textColor {
  color: var(--Font-Text-default, rgba(0, 0, 0, 0.65));
  line-height: 32px;
  font-weight: 600;
  font-size: 14px;
}

.header-nav-collape {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 60px;
}

.header-nav-collape-left-blank {
  width: 34px;
  height: 34px;
}

.header-nav-collape-blank {
  width: 0px;
  height: 16px;
  margin: 0px 8px 0px 8px;
  flex-shrink: 0;
  border: 1px solid var(--Background-bg-divider, #ffffff);
}

.header-nav-collape-link {
  text-decoration: none;
  margin-top: 12px;
  color: var(--Font-Text-default, rgba(0, 0, 0, 0.65));
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 228.571% */
}

.header-nav-collape-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  max-width: 1224px;
  padding-bottom: 1rem;
}

.header-nav-collape-div-link {
  display: flex;
  flex-direction: column;
  margin: 0px 12px 0px 12px;
  text-decoration-line: none;
  align-items: center;
  width: 128px;
  font-size: 14px;
  font-weight: 600;
}
