.hedaer-banner {
  padding: 0.6875rem 0px 0.6875rem 0px;
}
.header-center {
  border-bottom: 1px solid var(--Background-bg-divider, #e5e6e8);

  &[data-login='true'] {
    border-bottom: none;
  }
}

.MyInfoData{
    text-decoration: none;
}

.header-nav-write-button{
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid #0000005b;
  background-image: linear-gradient(99.88deg, #7e3fb8 0%, #b24a8b 100%),
    linear-gradient(111.27deg, #7e3fb8 0%, #b24a8b 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
