.footer-wrapper {
  width: 100%;
  background-color: rgba(242, 243, 243, 1);
  color: rgba(0, 0, 0, 0.85);
  padding: 40px 0 80px 0;
  margin-top: 120px;

  > div {
    margin: auto;
    max-width: 1224px;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(229, 230, 232, 1);
  margin-bottom: 12px;

  > div {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    padding: 12px 16px;
  }
}

.copyright-contact {
  display: flex;
  gap: 24px;

  > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  div {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}
