.button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: red;
}

.button-md {
  padding: 5rem;
  width: 15rem;
  height: 15rem;
  gap: 3.5rem;
  /* 기본 상태일 때의 스타일 */
  background: skyblue;
  /* 호버 상태일 때의 스타일 */
  &:hover {
    background-color: #bcc0c4; /* 호버 시 배경 색상 변경 */
  }

  /* 액티브 상태일 때의 스타일 */
  &:active {
    background-color: #d9d9d9; /* 클릭 시 배경 색상 변경 */
    color: #262d31;
  }
}

.button-lg {
  display: inline-flex;
  width: 1000rem;

  &:hover {
    background-color: #bcc0c4; /* 호버 시 배경 색상 변경 */
  }

  /* 액티브 상태일 때의 스타일 */
  &:active {
    background-color: #d9d9d9; /* 클릭 시 배경 색상 변경 */
    color: #262d31;
  }
}
